---
import BaseLayout from '../layouts/Layout.astro';

const response = await fetch('http://dpack.local/wp-json/wp/v2/pages');
const pages = await response.json();


export const prerender = false;

export async function getStaticPaths() {
  const response = await fetch('http://dpack.local/wp-json/wp/v2/pages');
  const pages = await response.json();
  return pages.map((page: any) => ({
    params: { id: page.id.toString() },
  }));
}

const { id } = Astro.params;
const res = await fetch(`http://dpack.local/wp-json/wp/v2/pages/${id}`);
const pageData = await res.json();

import { ClientRouter } from 'astro:transitions';
import { slide } from "astro:transitions";

import Slider from '../components/slider.astro';
---
<BaseLayout>
    <h1>{pageData.title.rendered}</h1>
    <Slider  pageId={id}/>

    <ul>
      {pages.map((page: any) => (
        <li>
        <!-- El href se genera dinámicamente a partir del slug -->
        <a href={`/${page.id}`}>{page.title.rendered}</a>
        </li>
      ))}
      </ul>
</BaseLayout>
