---

import { getPages, getPage, getPost,  getTranslations } from '../lib/api.js';
import { getLangFromUrl, languages } from '../lib/i18n.js';



const lang = getLangFromUrl(Astro.url);
const slug = Astro.params.slug;
const page = await getPage(slug, lang);
const pages = await getPages(lang);

let translations = {};
// Después de la transición, cargamos las traducciones
setTimeout(async () => {
  translations = await getTranslations(page);
  console.log("Traducciones cargadas:", translations);
}, 100);


---
<header class="bg-black">
    <nav class="flex justify-between">
      <ul id="nav-links">
        {pages.map((page: any) => (
          <li>
            <a href={`/${lang}/${page.slug}`}>{page.title.rendered}</a>
          </li>
        ))}
      </ul>
      <ul>
        {Object.entries(languages).map(([newLang, label]) => {
          const translatedSlug = translations[newLang] ? `/${newLang}/${translations[newLang]}` : `/${newLang}/`;

          return (
            <li>
              <a class="lang-switch" data-lang={newLang} href={translatedSlug}>{label}</a>
            </li>
          );
        })}
      </ul>
      
    </nav>
</header>


<style>
   
</style>


