---

import { getPage, getPost } from '../lib/api.js';
import { getLangFromUrl, languages } from '../lib/i18n.js';



const lang = getLangFromUrl(Astro.url);
const slug = Astro.params.slug;
const page = await getPage(slug, lang);


const translations = page?.translations || {};


---
<header class="bg-black">
    <nav class="flex justify-between">
      <ul>
        {Object.entries(languages).map(([newLang, label]) => {
        

          let translatedSlug = `/${newLang}/`; // Redirección predeterminada a la home

          if (translations[newLang]) {
            translatedSlug = `/${newLang}/${translations[newLang]}`; // Si hay traducción, usar su slug
          }

          return (
            <li>
              <a href={translatedSlug}>{label}</a>
            </li>
          );
        })}
      </ul>
      
    </nav>
</header>


<style>
   
</style>


