---

import { getPage, getPost,  getTranslations } from '../lib/api.js';
import { getLangFromUrl, languages } from '../lib/i18n.js';



const lang = getLangFromUrl(Astro.url);
const slug = Astro.params.slug;
const page = await getPage(slug, lang);

let translations = {};
// Después de la transición, cargamos las traducciones
setTimeout(async () => {
  translations = await getTranslations(page);
  console.log("Traducciones cargadas:", translations);
}, 100);


---
<header class="bg-black">
    <nav class="flex justify-between">
      <ul>
        {Object.entries(languages).map(([newLang, label]) => {
          // Si aún no se han cargado las traducciones, mostramos la home por defecto
          const translatedSlug = translations[newLang] ? `/${newLang}/${translations[newLang]}` : `/${newLang}/`;

          return (
            <li>
              <a href={translatedSlug}>{label}</a>
            </li>
          );
        })}
      </ul>
      
    </nav>
</header>


<style>
   
</style>


