---


import BaseLayout from '../../layouts/Layout.astro';
import Slider from '../../components/slider.vue';
import Posts from '../../components/posts.vue';


import { getPages, getPage } from '../../lib/api.js';
import { getLangFromUrl } from '../../lib/i18n.js';
import Header from '../../components/header.astro';

const lang = getLangFromUrl(Astro.url);
const slug = Astro.params.slug;
const pages = await getPages(lang);
const page = await getPage('sample-page', lang);
---

<BaseLayout>
    <Header />
    <!-- <Header /> -->
    <Posts lang={lang} client:load />
     <!-- <Slider pageId={page.id} client:load/> -->

    <h1>Pages</h1>

    
    <ul>
        {pages.map((page: any) => (
        <li>
            <a href={`/${lang}/${page.slug}`}>{page.title.rendered}</a>
        </li>
        ))}
    </ul>

    <Slider pageId={page.id} client:load/>
    
</BaseLayout>