---
// import LenisScroll from '../components/LenisScroll.astro';
import "../styles/global.css";

import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";
import { getPages, getPage } from "../lib/api.js";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import Loading from "../components/Loading.vue";

import { getLangFromUrl, languages } from "../lib/i18n.js";
const lang = getLangFromUrl(Astro.url);
const pages = await getPages(lang);
const slug = Astro.params.slug;


---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>D/PACK</title>
    <ViewTransitions />
  </head>

  <body class="bg-black">
    <!-- <LenisScroll/> -->
    <!-- <div id="barba-wrapper" data-barba="wrapper" transition:animate={fade({ duration: '1s' })}> -->
    <Loading client:load  transition:persist class="w-[100vw] h-[100dvh] fixed overflow-hidden !p-0" />
    <div
      class="text-white z-20 message-load w-[100vw] h-[100dvh] fixed overflow-hidden bottom-0 left-0 flex justify-center items-start bg-black"
    >
      <svg
        width="100%"
        viewBox="0 0 118 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-white p-sm"
      >
        <g clip-path="url(#clip0_582_11569)">
          <path
            d="M9.29841 1.02808H0V29.0181H9.29841C10.5302 29.0684 11.759 28.8626 12.9071 28.4138C14.0552 27.965 15.0976 27.2828 15.9684 26.4105C17.6591 24.6215 18.5506 21.9744 18.5506 18.7529V11.4913C18.5506 5.02193 15.0043 1.02808 9.29841 1.02808ZM12.0589 18.6737C12.0589 21.4727 10.8702 22.8325 8.42008 22.8325H6.60399V7.29282H8.42008C11.6825 7.29282 12.0589 9.69573 12.0589 11.4979V18.6737Z"
          ></path>
          <path
            d="M23.3649 29.0181L33.8124 1.0083H28.8066L18.3591 29.0181H23.3649Z"
          ></path>
          <div>
          <path
            d="M45.125 1.02808H35.9454V29.0181H42.5494V22.8986H45.1382C50.9035 22.8986 54.3838 19.0631 54.3838 12.6334V11.4583C54.3243 5.02193 50.8044 1.02808 45.125 1.02808ZM47.8656 12.5541C47.8656 15.3531 46.6637 16.713 44.1872 16.713H42.5362V7.29282H44.1872C45.0986 7.29282 47.8656 7.29282 47.8656 11.4979V12.5541Z"
          ></path>
          <path
            d="M60.5652 1.02808L53.3008 29.0181H59.8585L60.902 24.4367L60.9548 24.1924H67.3342L67.3871 24.4367L68.4305 29.0181H74.9949L67.8163 1.02808H60.5652ZM65.67 18.6208H62.1699L62.2426 18.2446L63.8672 10.1776L64.1841 8.5933L64.4813 10.1842L65.9804 18.2512L66.0465 18.6208H65.67Z"
          ></path>
          <path
            d="M84.6036 0.506592C79.1289 0.506592 75.3052 4.42783 75.3052 10.0456V19.9477C75.3052 25.5854 79.1289 29.5264 84.6036 29.5264C90.0783 29.5264 93.8492 25.5655 93.8492 19.9477V18.6275H87.2452V20.2184C87.2452 22.9646 85.7263 23.2881 84.6036 23.2881C83.4809 23.2881 81.896 22.9646 81.896 20.2184V9.79478C81.896 7.81436 82.8073 6.76473 84.6036 6.76473C86.3999 6.76473 87.2452 7.75495 87.2452 9.79478V11.0226H93.8492V10.039C93.8558 4.42123 90.0519 0.506592 84.6036 0.506592Z"
          ></path>
          <path
            d="M117.531 1.02148H110.082L102.903 12.7456L102.897 1.02148H96.4248V29.0181H102.897V20.9709L104.891 17.8155L110.478 29.0181H118L110.055 13.2077L117.531 1.02148Z"
          ></path>
          </div>
        </g>
        <defs>
          <clipPath id="clip0_582_11569">
            <rect
              width="118"
              height="29"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>

    <div class="wrapper">
      <Header
      class="-translate-y-full"
        transition:persist
        slug={slug}
        lang={lang}
        languages={languages}
        pages={pages}
        client:load
      />

      <!-- <div class="text-black" id="content" transition:animate={slide({ duration: '2s' })}> -->
      <div class="main bg-white">
        <slot />

        <!-- </div> -->
        <Footer class=" z-12 relative"/>
      </div>
    </div>

    <script>
      import { gsap } from "gsap";
      import ScrollTrigger from "gsap/ScrollTrigger";
      import barba from "@barba/core";
      import Lenis from "lenis";

      gsap.registerPlugin(ScrollTrigger);

      function initLenis(doc = document) {
        const lenis = new Lenis({
          duration: 1.2,
          easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        });

        lenis.on("scroll", ScrollTrigger.update);

        ScrollTrigger.refresh();
        ScrollTrigger.defaults({
          scroller: doc,
        });

        function raf(time: any) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }
        requestAnimationFrame(raf);
      }

      initLenis();

      function outAnimation() {
        const loading = document.querySelector(".loading");
        const wrapper = document.querySelector(".main");
        const header = document.querySelector("header");
        const messageLoad = document.querySelector(".message-load")

        const tl = gsap.timeline();

        gsap.set(loading, {
          height: "0vh",
          bottom: "0px",
          top: "auto",
        });

        tl.to(header, {
          yPercent: -100,
          duration: 1,
          ease: "power4.inOut",
        }).to(loading, {
          height: "100dvh",
          duration: 1,
          ease: "power2.in",
        },'<').to(
          messageLoad,
            {
              height: "100dvh",
              ease: "power2.inOut",
            }).to(wrapper, {
          autoAlpha: 0,
          ease: "power2.inOut",
        })
      }

      function enterAnimation() {
        const loading = document.querySelector(".loading");
        const wrapper = document.querySelector(".main");
        const header = document.querySelector("header");
        const messageLoad = document.querySelector(".message-load")

        

        

        gsap.set(header, {
         yPercent: 0,
        });

        const tl = gsap.timeline();

        tl
        
          .to(
            wrapper,
            {
              pointerEvents: "all",
            })
            .to(loading, {
          height: "0vh",
          duration: 1,
          ease: "power2.inOut",
        })
            .to(
          messageLoad,
            {
              duration: 1,
              height: "0vh",
              ease: "power2.inOut",
            })
          .to(header, {
            yPercent: 100,
            ease: "power2.inOut",
          },'<');
      }

      document.addEventListener("astro:before-preparation", () => {
        console.log("before prep");
        outAnimation();
      });

      document.addEventListener("astro:before-swap", () => {
        console.log("after swap");
        window.scrollTo(0, 0);

        ScrollTrigger.getAll().forEach((trigger) => trigger.kill());
        ScrollTrigger.refresh();
        initLenis();
      });

      document.addEventListener("astro:after-swap", () => {
        console.log("after swap");

        window.scrollTo(0, 0);
        ScrollTrigger.refresh();
      });

      document.addEventListener("astro:page-load", () => {
        console.log("page loaded");

        enterAnimation();
      });
    </script>
  </body>
</html>

<style>
  body {
    @apply w-[100vw]
		w-full
		overflow-x-hidden;
  }

  .wrapper {
    @apply w-[100vw]
	overflow-x-hidden;
  }

</style>
